input[type="submit"] {
    border: 0;
    background: none;
    width: 200px;
    display: block;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 10px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.7s;
    cursor: pointer;
    font: italic small-caps bold 12px/1 cursive;
}

#password, #password2
{
    border: 0;
    background-color: black;
    display: block;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 220px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: all 0.7s;
}

#password:hover, 
#password:focus,
#password2:hover, 
#password2:focus
{
    width: 280px;
    border: 3px solid #850e9d;
    font: italic small-caps bold 12px/1 cursive;
}