#hhh{
    position: relative;
    top: 50px;
}

#edit_profile
{
    border: 0;
    background: none;
    width: 75px;
    display: block;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 10px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.7s;
    cursor: pointer;
    font: italic small-caps bold 12px/1 cursive;
}

#edit_profile:hover
{
    background: black;
    color: orange;
}

#avatar
{
    position: relative;
    bottom: 20px;
}

span
{
    color:aqua;
}

#delete_post
{
    border: 0;
    background: none;
    width: 75px;
    display: block;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 10px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.7s;
    cursor: pointer;
    font: italic small-caps bold 12px/1 cursive;
}

#delete_post:hover
{
    background: black;
    color: orange;
}